body {
    font-family: '	Copperplate', 	Copperplate, Sans-serif, Georgia, Times New Roman;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
h1 {
    font-size: 2em;
    letter-spacing: .1em;

    
}

h2 {
    font-size: 1.5em;

    
    
}


header {
    text-align: center;
    margin: auto 2em;
}
p {
    text-align: justify;
    text-justify: inter-word;
  }
  

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: black;
    height: 2px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 1px solid black;
 }
 dev {
    padding-left: 53em;
    text-indent: 100px;
  }
  dev1 {
    padding-left: 43em;
    text-indent: 100px;
  }
  dev2 {
    padding-left: 57em;
    text-indent: 100px;
  }
  dev3 {
    padding-left: 59em;
    text-indent: 100px;
  }
  .dot {
    height: 6px;
    width: 6px;
    background-color: #131212;
    border-radius: 50%;
    display: inline-block;
  }
  dev5 {
    padding-left: 20em;
    text-indent: 100px;
  }
  dev6 {
    padding-left: 15em;
    text-indent: 100px;
  }
  dev7 {
    padding-left: 60em;
    text-indent: 100px;
  }
  dev8 {
    padding-left: 57em;
    text-indent: 100px;
  }




.name{
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 600;
}
.sum{
  color: red;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align:center;

}
.pra{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  
}
.col{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;

}
.col span{
  padding-left: 550px;

}
.col1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;

}
.col1 span{
  padding-left: 415px;

}
.dep{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;

}
.dep span{
  padding-left: 600px;

}
.bgs{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;

}
.bgs span{
  padding-left: 632px;

}
.list li{
  font-size: 15px;
  padding-bottom: 5px;
 
  font-weight: 700;
}
.list li span{
  font-size: 15px;
  font-weight: 200;
}
.key{
  display: flex;
  gap: 50px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  
}
.key .sub1{
  width: 680px;
}
.key .sub2{
  width: 680px;
}
.key .sub3{
  width: 680px;
}
  .languages{
    display: flex;
    gap: 200px;
    font-size: 15px;
    padding-top: 5px;
  }
  .pro1{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
    font-weight: 600;
  }
  .p span{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    
  }
  .p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
 